<header class="company-header">

  <div class="header-top">
    <div class="marquee">
      <span>📢 Dikkat! Lastik değişiminde kış ayı kampanyası devam ediyor!</span>
    </div>
  </div>

  <div class="headerBottom">

    <div class="logo">
      <img src="/canlogo.png" [routerLink]="['/categories']" style="cursor:pointer;" alt="LOGO">
    </div>

    <!-- HAMBURGER MENU ICON -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- MENU LINKS -->
    <div class="menu-links" [class.open]="isMenuOpen">
      <ul>
        <li [routerLink]="['/anasayfa']" (click)="closeMenu()">Anasayfa</li>
        <li [routerLink]="['/wheels', 'categories', 'land']" (click)="closeMenu()">Lastikler</li>
        <li [routerLink]="['/yolyardım']" (click)="closeMenu()">Yol Yardım</li>
        <li [routerLink]="['/iletisim']" (click)="closeMenu()">İletişim</li>
      </ul>
    </div>

  </div>
</header>