
<header class="company-header">

  <div class="header-top">
    <div class="marquee">
      <span>📢 Dikkat! Yeni kampanyalar başladı! | İndirimler %50’ye kadar devam ediyor!</span>
    </div>
  </div>

  <div class="headerBottom">

    <div  class="logo">
      <img   src="/canlogo.png" [routerLink]="['/categories']" style="cursor:pointer;" alt="LOGO">
    </div>

     <div class="menu-links">
      <ul>
        <li>Anasayfa</li>
        <li>Lastikler</li>
        <li>Yol Yardım</li>
        <li>İletişim</li>
      </ul>
     </div>
  </div>
</header>