
<header class="company-header">

  <div class="header-top">
    <div class="marquee">
      <span>📢 Dikkat! Yeni kampanyalar başladı! | İndirimler %50’ye kadar devam ediyor!</span>
    </div>
  </div>
  <div class="headerBottom">

    <div  class="logo">
      <img   src="/QRMENULOGO.png" [routerLink]="['/categories']" style="cursor:pointer;" alt="LOGO">
    </div>

     <div class="menu-link">
          <a class="menu-button" href="/categories">Menu</a>
          <i class="fa-solid fa-utensils"></i>
     </div>
    
    <!-- <div class="search">
<fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
      <input type="text">
    </div> -->

  </div>

  <!-- Popüler Ürünler Slider (Header altı şerit) -->
  <!-- Popüler Ürünler Slider (Header altı şerit) -->
  <div class="popular-slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product-card">
            <img src="/mozarella-sticks.jpg" alt="" class="product-img">
            <div class="product-info">
              <h4>Mozarella Çubukları</h4>
              <p class="description">Dışı çıtır pane kaplı, içi akışkan mozzarella peyniriyle hazırlanan nefis atıştırmalık. Yanında isteğe göre soslarla servis edilir</p>
              <span class="price">₺145</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <img src="/cupcakes.jpg" alt="" class="product-img">
            <div class="product-info">
              <h4>Cupcake Atıştırmalıklar</h4>
              <p class="description">Yumuşacık kek tabanı üzerine krema veya özel soslarla hazırlanan küçük atıştırmalıklar. Farklı seçenekleri mevcuttur.</p>
              <span class="price">₺60</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <img src="/kokteyl.jpg" alt="" class="product-img">
            <div class="product-info">
              <h4>Karpuz Limon Esintisi Kokteyl</h4>
              <p class="description">Taze karpuz püresi ve ferah limon suyu ile hazırlanan, buzla servis edilen hafif ve serinletici kokteyl</p>
              <span class="price">₺190</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <img src="/double-burgger.jpg" alt="" class="product-img">
            <div class="product-info">
              <h4>Double Burger</h4>
              <p class="description">İki kat sulu köfte ile ekstra doyurucu burger. Arasında erimiş cheddar peyniri, taze marul, domates, turşu ve özel soslarla hazırlanır. Patates ile servis edilir.</p>
              <span class="price">₺315</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</header>