<div class="menu-wrapper">
  <!-- Sidebar -->
  <aside class="sidebar">
    <ul>
      <li><button [routerLink]="['/categories/burgers']" class="sidebar-btn active">Burgerler</button></li>
      <li><button [routerLink]="['/categories/sandwiches']" class="sidebar-btn">Aperatifler</button></li>
      <li><button class="sidebar-btn">İçecekler</button></li>
      <li><button class="sidebar-btn">Tatlılar</button></li>
      <li><button class="sidebar-btn">Soslar</button></li>

    </ul>
  </aside>

  <!-- Main Content -->
  <main class="menu-content">
    <div class="category-title">
      <h2>Burgerler</h2>
    </div>

    <div class="products-grid">
      <div class="product-card">
        <img src="/cheese-burger.jpg" alt="">
        <h3 class="product-title">Cheese Burger</h3>
        <p class="product-description">Sıcak, sulu köfte üzerine erimiş cheddar peyniri, taze marul, domates, turşu ve özel sos ile hazırlanan klasik lezzet. Patates kızartması ile servis edilir.</p>
        <div class="product-footer">
          <span class="product-price">₺255,00</span>
        </div>
      </div>

      <div class="product-card">
        <img src="/pexels-ramon-rangel-661975902-34407503.jpg" alt="">
        <h3 class="product-title">Chicken Burger</h3>
        <p class="product-description">Özel baharatlarla marine edilmiş çıtır tavuk ile hazırlanır. Taze marul, domates, turşu ve isteğe özel soslarla patates kızartması ile servis edilir.</p>
        <div class="product-footer">
          <span class="product-price">₺215,00</span>
        </div>
      </div>

      <div class="product-card">
        <img src="/steak-burger.jpg" alt="">
        <h3 class="product-title">Steak Burger</h3>
        <p class="product-description">Izgara edilmiş dana biftekten hazırlanan, yoğun et lezzeti sunan premium burger. Karamelize soğan, cheddar peyniri, taze yeşillikler ve soslarla patates kızartması ile servis edilir.</p>
        <div class="product-footer">
          <span class="product-price">₺275,00</span>
        </div>
      </div>

      <div class="product-card">
        <img src="/double-burgger.jpg" alt="">
        <h3 class="product-title">Double Burger</h3>
        <p class="product-description">İki kat sulu köfte ile ekstra doyurucu burger. Arasında erimiş cheddar peyniri, taze marul, domates, turşu ve özel soslarla hazırlanır. Güçlü lezzet ve yüksek enerji isteyenler için mükemmel seçim.</p>
        <div class="product-footer">
          <span class="product-price">₺315,00</span>
        </div>
      </div>
    </div>
  </main>
</div>
