<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/" alt="Can Logo" />
    </div>

    <div class="footer-info">
      <p>
        <i class="fas fa-map-marker-alt"></i>
        +905301321017 Anadolu Hamidiye Tabyası Barbaros Mah. Aziziye Cad. No:
        46/4, Çanakkale, Turkey
      </p>
      <p><i class="fas fa-phone-alt"></i> +90 530 132 10 17</p>
    </div>

    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-google"></i></a>
    </div>
  </div>
</footer>