<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/Can Logo Beyaz.png" alt="Can Logo" />
    </div>

    <div class="footer-info">
      <p>
        <i class="fas fa-map-marker-alt"></i>
        Barbaros Sanayi Sitesi Reşat Tabak Caddesi,
        Yosun Sk. No:17, 17100 Çanakkale
      </p>
      <a href="tel:+90 542 779 19 65" ><i class="fas fa-phone-alt"></i> +90 542 779 19 65</a>
    </div>

    <div class="footer-social">
      <a href="https://www.facebook.com/profile.php?id=61567683788593"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/canotolastikci/"><i class="fab fa-instagram"></i></a>
      <a href="https://share.google/qkCQx3paLdduMLDhv"><i class="fab fa-google"></i></a>
    </div>
  </div>
</footer>