<div class="helpcontainer" id="helpcontainer">
  <div class="title">İletişim</div>
  <div class="adress">
    <a class="phone" href="tel:+90 542 779 19 65" ><i class="fas fa-phone-alt"></i> +90 542 779 19 65</a>
    <p>
      <i class="fas fa-map-marker-alt"></i>
      Barbaros Sanayi Sitesi Reşat Tabak Caddesi,
      Yosun Sk. No:17, 17100 Çanakkale
    </p>
  </div>

</div>

<div class="map-wrapper">
  <iframe [src]="googleMapUrl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
  </iframe>
</div>