<div class="helpcontainer" id="helpcontainer">
    <div class="title">Yol Yardım</div>
    <div class="content">
        Çanakkale içinde lastiğiniz patladıysa en uygun fiyatlarla yanınızdayız.
        <a href="tel:+90 542 779 19 65">+90 542 779 19 65</a> numaramız üzerinden 7/24 ulaşabilirsiniz.
    </div>
</div>
<section class="services" id="services">
    <div class="services-container">

        <div class="services-box">
            <div class="services-info">
                <h4>Website Geliştirme</h4>
                <p>HTML,CSS ve Javascript kullanarak web sitesi ve web uygulamaları geliştiriyorum. React ve Node.JS
                    hakkında
                    da bilgi sahibiyim ve eğitimler alıyorum. Kendimi daha da geliştirerek yeni projeler yazmayı
                    planlıyorum
                </p>
            </div>
        </div>

        <div class="services-box">
            <div class="services-info">
                <h4>Google Ads ve Meta Reklam Yönetimi</h4>
                <p> Reklam yönetimi ve SEO konusunda sahip olduğum bilgi konusunda doğru hedef kitlesine yönelik
                    doğru reklamı oluşturup takibini yapabiliyorum.
                </p>
            </div>
        </div>

        <div class="services-box">
            <div class="services-info">
                <h4>Grafik Tasarım</h4>
                <p> Adobe Photoshop ve Illustrator kullanarak projeler oluşturuyorum. Yapay zeka araçlarından da
                    yararlanıyorum.
                </p>
            </div>
        </div>

        <div class="services-box">
            <div class="services-info">
                <h4>Sosyal Medya Yönetimi</h4>
                <p>Güncel trendleri takip ederek sosyal medya yönetimi yapıyorum.
                </p>
            </div>
        </div>

    </div>
</section>