<div class="menu-wrapper">
    <!-- Sidebar -->
    <aside class="sidebar">
        <ul>
            <li>
                <button [routerLink]="['/wheels', 'categories', 'lassa']"
                    [ngClass]="{ 'active': currentCategory === 'lassa' }" class="sidebar-btn">
                    Lassa
                </button>
            </li>

            <li>
                <button [routerLink]="['/wheels', 'categories', 'continental']"
                    [ngClass]="{ 'active': currentCategory === 'continental' }" class="sidebar-btn">
                    Continental
                </button>
            </li>

            <li>
                <button [routerLink]="['/wheels', 'categories', 'laufenn']"
                    [ngClass]="{ 'active': currentCategory === 'laufenn' }" class="sidebar-btn">
                    Laufenn
                </button>
            </li>

            <li>
                <button [routerLink]="['/wheels', 'categories', 'matador']"
                    [ngClass]="{ 'active': currentCategory === 'matador' }" class="sidebar-btn">
                    Matador
                </button>
            </li>

            <li>
                <button [routerLink]="['/wheels', 'categories', 'goodyear']"
                    [ngClass]="{ 'active': currentCategory === 'goodyear' }" class="sidebar-btn">
                    GoodYear
                </button>
            </li>

        </ul>
    </aside>

    <!-- Main Content -->
    <main class="menu-content">
        <div class="category-title">
            <h2>{{ pageTitle }}</h2>
        </div>

        <div class="products-grid">
            <div class="product-card" *ngFor="let p of products">
                <img [src]="p.img" alt="">
                <h3 class="product-title">{{ p.title }}</h3>
                <p class="product-description">{{ p.desc }}</p>
                <div class="product-footer">
                    <span class="product-price">₺{{ p.price }}</span>
                </div>
            </div>
        </div>
    </main>
</div>